.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
        padding: 6px 12px;
        border: 1px solid #49beb7;
        border-radius: 5px;
        font-family: Overpass;
        font-size: 16px;
        color: #ffff;
        background-color: #49beb7;
        transition: transform 1s ease-out;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.1);
    }
}