.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
    border: none;
    box-shadow: 0 0 5px #DCDCDC;
    border-radius: 10px;
    font-family: Overpass;
    cursor: pointer;
    transition: transform 1s ease-out;

    &__image {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
    }

    &__color {
        position: absolute;
        top: 10px;
        right: 10px;

        span {
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #DCDCDC;
            border-radius: 50%;
        }
    }

    &__heart {
        position: absolute;
        top: 40px;
        right: 10px;
        width: 22px;
        height: 22px;

        svg {
            width: 100%;
            height: 100%;
            fill:#DCDCDC;
        }

        svg:hover {
            fill: #49beb7;
        }
    }

    &__heart.active {
        svg {
            fill: #49beb7;
        }
    }

    &__wrapper {
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 18px;
        font-weight: 700;
    }

    &__button.button-wrapper {
        button {
            border: none;
            background-color: #ffff;
            cursor: pointer;
            img {
                width: 26px;
                height: 26px;
            }
        }
    }


}

.product-card:hover {
    transform: scale(1.1);
}