.header {
    margin-bottom: 60px;
    background-color: #49beb7;

    .navigation {
        display: flex;
        align-items: center;
        margin-right: 40px;
        
        &__item {
            margin-left: 40px;
            padding: 10px 0;
            border-bottom: 2px solid #49beb7;
            font-family: Overpass;
            font-size: 26px;
            cursor: pointer;
        }
    
        &__item:hover {
            border-bottom: 2px solid #ffff;
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-family: Quicksand;
        color: #fff;
    }

    &__icons {
        justify-content: space-between;
        align-items: center;
        width: 120px;

        div {
            transition: transform 0.5s ease-out;
            cursor: pointer;
        }

        div:hover {
            transform: scale(1.1);
        }

    }

    &__cart-wrapper {
        position: relative;
        span {
            position: absolute;
            top: -4px;
            right: -6px;
            font-size: 12px; 
        }
    }

    &__heart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        svg {
            width: 100%;
            height: 100%;
            fill: #FFFFFF;
        }

        span {
            position: absolute;
            top: -4px;
            right: -8px;
            font-size: 12px;
        }
    }
}